// Vertical and Horizontal Cadence
$half-spacing-unit: 6px;
$spacing-unit: 12px;
$spacing-unit-x2: 24px;
$spacing-unit-x3: 36px;
$spacing-unit-x4: 48px;
$spacing-unit-x5: 60px;
$spacing-unit-x6: 72px;
$spacing-unit-x7: 84px;
$spacing-unit-x7: 96px;