// Vertical and Horizontal Cadence
$spacing-unit: .5rem;
$spacing-unit-x2: 1rem;
$spacing-unit-x3: 1.5rem;
$spacing-unit-x4: 2rem;
$spacing-unit-x5: 2.5rem;
$spacing-unit-x6: 3rem;
$spacing-unit-x7: 3.5rem;
$spacing-unit-x8: 4rem;