@import 'styles/index';

$nav-width: 220px;

.navigation {
  flex: 0 0 $nav-width;
  padding: $spacing-unit-x2 0 0 0;
  width: $nav-width;

  &__logo {
    padding: 0 0 $spacing-unit-x3 $spacing-unit-x6;

    svg {
      height: $spacing-unit-x4;
      width: 5.56rem;
    }
  }

  &__main {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__body {
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
  }

  &__group {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;

    &--visible {
      max-height: 1000px;
      transition: max-height .25s ease-in;
    }

    label {
      padding-left: $spacing-unit-x4;
    }
    .navigation__item-name {
      width: calc(#{$nav-width} - #{$spacing-unit-x2} - 4px);
    }

    .navigation__group label {
      padding-left: $spacing-unit-x6;
    }

  }

  &__link {
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  &__item-name {
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    font-size: $small-font-size;
    border-left: 4px solid transparent;
    padding: $spacing-unit 0;
    width: 100%;

    &--active {
      font-weight: bold;
      background-color: $highlight-gray;
      border-left: 4px solid $teal;
    }

    &--root {
      font-size: $default-font-size;
      padding: $spacing-unit-x2 0 $spacing-unit-x2 0;
    }

    &--root-active {
      font-weight: 600;
    }

    &--no-icon {
      padding-left: $spacing-unit-x3;
    }

    label {
      display: block;
      flex: 1 1 auto;
      cursor: pointer;
      color: $text-gray;

      sup {
        padding-left: $spacing-unit-x2;
        text-decoration: none;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }

    &--sub {
      label {
        padding-left: 0;
      }
    }
  }

  &__item-icon {
    padding-left: $spacing-unit-x3;
    margin-right: $spacing-unit;
    flex: 0 0 $spacing-unit-x3;
    width: $spacing-unit-x2;
    height: $spacing-unit-x2;
  }

  &__item-caret {
    &--down {
      margin: 6px 6px 0 calc(#{$spacing-unit-x2} + 2px);
      width: 7px;
      height: 4px;
    }

    &--left {
      margin: 4px 7px 0 calc(#{$spacing-unit-x2} + 3px);
      width: 5px;
      height: 8px;
    }
  }
}

