@import 'styles/index';

$nav-width: 220px;

.navigation {
  flex: 0 0 $nav-width;
  padding: $spacing-unit-x2 0 0 0;
  width: $nav-width;

  &__logo {
    padding: 0 0 $spacing-unit-x3 $spacing-unit-x6;

    svg {
      height: $spacing-unit-x4;
      width: 5.56rem;
    }
  }

  &__main {
    list-style: none;
    padding: 0;
  }

  &__body {
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
  }

  &__group {
    list-style: none;
    padding: 0;

    label {
      padding-left: $spacing-unit-x2;
    }
    .navigation__item-name {
      width: calc(#{$nav-width} - #{$spacing-unit-x2} - 4px);
    }

    .navigation__group {
      label {
        padding-left: $spacing-unit-x4;
      }
    }

  }

  &__link {
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  &__item-name {
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    font-size: $small-font-size;
    border-left: 4px solid transparent;
    padding: $spacing-unit 0;
    width: 100%;

    &--active {
      font-weight: bold;
      background-color: $highlight-gray;
      border-left: 4px solid $teal;
    }

    &--root {
      font-size: $default-font-size;
      padding-bottom: $spacing-unit-x3;
    }

    &--root-active {
      font-weight: 600;
    }

    &--no-icon {
      padding-left: $spacing-unit-x3;
    }

    svg {
      padding-left: $spacing-unit-x3;
      margin-right: $spacing-unit;
      flex: 0 0 $spacing-unit-x3;
      width: $spacing-unit-x2;
      height: $spacing-unit-x2;
    }

    label {
      display: block;
      flex: 1 1 auto;
      cursor: pointer;
      color: $text-gray;
    }
  }
}

